$header-background: rgb(34, 5, 51);
$footer-background: rgb(79, 39, 111);
$body-background: white;
$nav-footer-icons: rgb(218, 218, 43);



    

body {
    margin:0;
    background-color: $body-background;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    
}



header {
    display: flex;
    justify-content: center;
    background-color: $header-background;
    
}

    .logo-name {
        display: flex;
        margin-left: 25%;
    }

            img {
            width: 260px;
        }



    #nav-bar {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        justify-content: space-around;
        align-items: first baseline;
        margin-right: 25%;
        margin-left: 10%;
        }
        a {
            color: $nav-footer-icons;
            text-decoration: none;
        }


@media screen and (min-width: 600px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        
        .logo-name {
            display: flex;
            justify-content: flex-end;
            margin-left: 0px;
        }

        #nav-bar {
            width: 50%;
            display: flex;
            flex-direction: row;
            margin-right: 0px;
            margin-bottom: 20px;
        
            
        }
    }
}




main {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    h1 {
        margin-bottom: 6px;
        margin-top: 8px;
        text-align: center;
    }
        .homepage-image {
            display: flex;
            justify-content: center;
        }
}

@media screen and (min-width: 600px) {
    main {

        h1 {
            display: flex;
            justify-content: flex-start;
        }

       
        .homepage-image {
            display: flex;
            justify-content: flex-start;

        } 
    }
}

    

footer {
    background-color: rgb(94, 64, 97);
    padding: 16px;
    text-align: center;

    .social-media {
        display: flex;
        justify-content: space-around;

        a {
            i {
                color: $nav-footer-icons;
                font-size: 24px;
            }
        }

        
    .info {
        font-style: italic;
    } 
        
    }
}

