body {
  margin: 0;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(34, 5, 51);
}

.logo-name {
  display: flex;
  margin-left: 18%;
}

img {
  width: 260px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: space-around;
  margin-left: 10px;
}

a {
  color: rgb(218, 218, 43);
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: flex-start;
  }
  header .logo-name {
    display: flex;
    justify-content: flex-start;
    margin-left: 0%;
  }
  header .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 65%;
    margin-left: 10%;
  }
}
main {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
main h1 {
  margin-bottom: 6px;
  margin-top: 8px;
  text-align: center;
}
main .homepage-image {
  display: flex;
  justify-content: center;
}
main .details {
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

@media screen and (min-width: 600px) {
  main h1 {
    display: flex;
    justify-content: flex-start;
  }
  main .homepage-image {
    display: flex;
    justify-content: flex-start;
  }
  main .details {
    margin-left: 3px;
    margin-right: 0px;
  }
}
footer {
  background-color: rgb(34, 5, 51);
  padding: 16px;
  text-align: center;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
}
footer .social-media a i {
  color: rgb(218, 218, 43);
  font-size: 24px;
}
footer .info {
  font-style: italic;
  color: rgb(218, 218, 43);
}

@media screen and (min-width: 600px) {
  footer .social-media {
    display: flex;
    justify-content: space-around;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .resume-image {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .resume-image img {
  display: flex;
  align-items: center;
  width: 160px;
  margin-top: 5px;
  height: 90px;
}
main p {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-style: italic;
  font-size: 14px;
}
main h3 {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
main form .form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6px;
  font-size: 13px;
}
main form .form-elements .form-input {
  border: 1px solid black;
  border-radius: 4px;
  outline: black;
  width: 300px;
}
main form .form-elements .form-input#form-textarea {
  resize: none;
}
main form .btn {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 4px;
}

@media screen and (min-width: 600px) {
  main {
    margin-left: 45px;
  }
  main .resume-image {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  main .resume-image img {
    display: flex;
    align-items: flex-start;
    width: 160px;
    margin-top: 5px;
    height: 90px;
  }
  main p {
    display: flex;
    justify-content: flex-start;
    margin-top: 0%;
    margin-bottom: 0%;
    font-style: italic;
    font-size: 14px;
  }
  main h3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  main form .form-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
    font-size: 13px;
  }
  main form .form-elements .form-input {
    border: 1px solid black;
    border-radius: 4px;
    outline: black;
    width: 300px;
  }
  main form .form-elements .form-input#form-textarea {
    resize: none;
  }
  main form .btn {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 4px;
  }
}/*# sourceMappingURL=contact.css.map */